/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* Header section */

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.Main-header {
  background-color: #e8d2df;
  background-image: url("/photos/MacMillerHeader-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  animation-name: headerFadeIn;
  animation-duration: 1s;
  min-height: 70vh;
}

.Home page {
  position: relative;
  text-align: center;
  color: white;
}

.mac {
  padding: 1rem;
  display: block;
  resize: none;
  text-align: left;
  /* top: 10%;
  left: 20%; */
  /* transform: translate (-50, -50%); */
  color: black;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Sinhala MN";
}

/* Spinning Record Section */

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.grid {
  max-width: 130%;
  padding: 0.5rem;
}
.grid section {
  padding: 0.2rem;
  max-width: 600px;
}

@media (min-width: 40em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  background-color: #403efb;
  max-width: 100%;
}

/* Start of record section */

/* End of record section */

#myBtn {
  display: none;
  position: fixed;
  bottom: 35px;
  left: 50px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 15px;
  font-size: 35px;
}

#myBtn:hover {
  background-color: #d49ca1;
}

aside {
  display: none;
  background: #403efb;
  inset: 0;
  max-width: 40%;
  margin-left: 45rem;
}

aside > div {
  background: white;
  max-width: 50%;
  margin: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0;
  font-family: "Sinhala MN";
}

aside.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-text {
  color: black;
  width: 50vh;
  margin-left: 80vh;
  font-size: 20px;
  font-family: "Sinhala MN";
  padding: 2rem;
}

.record-row {
  height: 100%;
  display: none;
}

.record-row.visible,
.songlist-panel.visible {
  display: block;
}

.record-wrapper img {
  position: absolute;
  width: 50%;
}

.album:hover {
  border: 7px #d49ca1;
}

.album {
  cursor: pointer;
}

.record-wrapper {
  position: relative;
}

@keyframes recordSlidingIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.visible .record-wrapper {
  animation-name: recordSlidingIn;
  animation-duration: 1s;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.songlist-panel {
  display: none;
  background-color: black;
  color: white;
  overflow: hidden;
}

.album-accordian {
  font-size: larger;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 20px;
  max-width: 50%;
}

.album-accordion:hover {
  background-color: #d49ca1;
}

.album-accordian:active {
  background-color: #d49ca1;
}
