/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* Header section */

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.Main-header {
  background-color: #e8d2df;
  background-image: url("/photos/MacMillerHeader-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  animation-name: headerFadeIn;
  animation-duration: 8s;
  min-height: 70vh;
}

.Home page {
  position: relative;
  text-align: center;
  color: white;
}

.mac {
  padding: 1rem;
  display: block;
  resize: none;
  text-align: left;
  /* top: 10%;
  left: 20%; */
  /* transform: translate (-50, -50%); */
  color: black;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Sinhala MN";
}

/* Spinning Record Section */

@keyframes headerFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/* .grid section {
  padding: 0.2rem;
  max-width: 600px;
} */

nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  background-color: #f24b88;
  max-width: 100%;
}

/* Start of record section */

/* End of record section */

/* #myBtn {
  display: none;
  position: fixed;
  bottom: 35px;
  left: 50px;
  z-index: 99; /* Make sure it does not overlap */
/* border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 15px;
  font-size: 35px;
/* } */
/* #myBtn:hover { */

aside {
  display: none;
  background: #403efb;
  inset: 0;
  max-width: 40%;
  margin-left: 45rem;
}

aside > div {
  background: white;
  max-width: 50%;
  margin: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0;
  font-family: "Sinhala MN";
}

aside.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-text {
  color: black;
  width: 50vh;
  margin-left: 50%;
  font-size: 20px;
  font-family: "Sinhala MN";
  padding: 2rem;
}

.record-row {
  height: 100%;
  display: none;
}

.record-row.visible,
.songlist-panel.visible {
  display: block;
}

.record-wrapper img {
  position: absolute;
  width: 50%;
}

.album:hover {
  border: 7px #d49ca1;
}

.album {
  cursor: pointer;
  min-width: 25px;
}

.record-wrapper {
  position: relative;
}

@keyframes recordSlidingIn {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.visible .record-wrapper {
  animation-name: recordSlidingIn;
  animation-duration: 1s;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.songlist-panel {
  display: none;
  background-color: black;
  color: white;
  overflow: hidden;
  max-width: 400px;
  text-align: center;
}

.album-accordian {
  font-size: larger;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 50px;
  max-width: 50%;
}

.album-accordion:hover {
  background-color: #d49ca1;
}

.album-accordian:active {
  background-color: #d49ca1;
}

/* Desktop or larger screens */

@media only screen and (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 500px;
  }

  h1 {
    font-size: 125px;
  }
}

/* Mobile or small screens */

@media only screen and (max-width: 599px) {
  .album {
    max-width: 180px;
    min-width: 180px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 180px;
    overflow-x: scroll;
    overflow-y: none;
  }

  .record-wrapper {
    display: none;
  }

  .record-text {
    width: 100%;
    margin: 0;
  }

  h1 {
    font-size: 80px;
  }

  .Main-header {
    background-image: url("/photos/MacMillerHeader-2.png");
    background-size: 75%;
    background-position: bottom right;
    /* background-repeat: no-repeat;
    background-position: right bottom;
    animation-name: headerFadeIn;
    animation-duration: 8s;
    min-height: 70vh; */
  }

  .mobile-hidden {
    display: none;
  }
}

.floating-button {
  position: fixed;
  right: 1rem;
  top: 1rem;
  font-size: large;
  color: black;
  background-color: white;
}

.sources-modal {
  position: fixed;
  right: 50vw;
  bottom: 50vh;
  transform: translate(50%, 50%);
  background-color: black;
  padding: 1.5rem;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 25px -24px 12px 12px rgba(0, 0, 0, 0.92);
  box-shadow: 25px -24px 12px 12px rgba(0, 0, 0, 0.92);
  min-width: 60%;
  min-height: 35%;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: pink;
  opacity: 50%;
}

.modal-container {
  display: none;
}

.modal-container.visible {
  display: block;
}

.close-button {
  color: pink;
}
