/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

.Home page {
  position: relative;
  text-align: center;
  color: white;
}

.mac {
  resize: none;
  position: absolute;
  text-align: left;
  top: 10%;
  left: 20%;
  transform: translate (-50, -50%);
  color: white;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Sinhala MN";
}

.grid {
  max-width: 130%;
  padding: 0.5rem;
}
.grid section {
  padding: 0.5rem;
  max-width: 600px;
}
@media (min-width: 40em) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  padding: 1rem;
  background-color: #403efb;
  max-width: 50%;
}

h2 {
  width: 60%;
}
